body {
    background-color: pink !important;
    color: black;
}
.navbar {
    background-color: purple;
}
.footer{
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.hero {
    text-align: center;
    padding: 80px 20px;
}
.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}
.features .card{
    background-color: gold;
    color: black;
    border: none;
}
.about-section{
    padding: 50px 0;
    background-color: firebrick;
    color: khaki;
}

.about-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px greenyellow(0, 0, 0, 0.3);
}

.about-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: hotpink;
}

.about-list-item {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.about-btn {
    background-color: forestgreen;
    color: darkblue;
    border-radius: 25px;
    padding: 10px 30px;
}

.about-btn:hover {
    background-color: darkcyan;
    text-decoration: none;
}

.about-starts {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: chocolate;
    border-radius: 10px;
    color: khaki;
}

.starts-number {
    font-size: 2rem;
    font-weight: bold;
    color: palegreen;
}

.header{
    background-image: url("download (4).jpeg") no-repeat center cover;
    padding: 80px 0;
}
.card{
    background-color: gray;
    border-radius: 12px;
    box-shadow: 0px 4px 8px gold(0, 0, 0, 1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 15px;
    text-decoration: center;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 6px 12px teal(0, 0, 0, 0.2);
}
.custom-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.custom-card .card-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: darkblue;
}
.custom-card .card-text{
    font-size: 16px;
    color: aquamarine;
    padding: 10px;
}
.custom-card .btn {
    background-color: teal;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s;
}
.custom-card .btn:hover {
    background-color: cadetblue;
}